/* sidebar style start */
.li-a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .ul {
    list-style: none;
    background: #ffc107;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 100% !important;
  }
  .btn {
    all: unset;
  }

  .disabled {
    pointer-events: none; /* Disable click interactions */
    opacity: 0;        /* Visual cue to indicate it's disabled */
  }
    /* side bar style end */

