
.signupBlock {
    background-color: #0d6efd;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}

.logiBlock {
    background-color: #ffc107;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.mt {
    margin-top: 10vh !important;
}
.h-10 {
    height: 10% !important;
    box-sizing: border-box;
}